### Node & Logs ###
data-node
meili_data*
data/
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Coverage & Build
lib-cov
coverage
build/
dist/
public/main.js*
client/public/main.js*
client/public/images/

# Translation services
config/translations/stores/*
client/src/localization/languages/*_missing_keys.json

# Dependencies
node_modules/
api/node_modules/
client/node_modules/
bower_components/
*.d.ts
!vite-env.d.ts

### Development ###
# AI tools & editors
.clineignore
.cursor
.aider*
.floo*
.vscode/
.idea/
*.iml

# Environment & Config
.npmrc
.env*
my.secrets
!**/.env.example
!**/.env.test.example
cache.json
api/data/
owner.yml
librechat.yaml
librechat.yml
docker-compose.override.yml*
config.local.ts

# Misc
.DS_Store
*.code-workspace
.idx
monospace.json
*.pem
**/storageState.json
junit.xml
**/.venv/
**/venv/

# Meilisearch
meilisearch
meilisearch.exe
data.ms/*

# User uploads
uploads/

# Helm
helm/librechat/Chart.lock
helm/**/charts/
helm/**/.values.yaml

# Owner
release/

# SAML Idp cert
*.cert

# AI Assistants
/.claude/
/.copilot/
/.aider/
/.openai/
/.tabnine/
/.codeium

# UX & Images
/packages/ux-shared/
/images

!client/src/components/Nav/SettingsTabs/Data/
!/client/src/@types/i18next.d.ts
